#container-all{
	background-color: #CC00FF;
	max-width: 1000px;
	display: flex;
}
.container{
	flex: 1;
}

.container input{
	background-color: #000;
	border: 2px;
}
input{
	display: block;
	width: 100%
}
input{

}
select{
	display: block;
}